<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row text-center">
            <h1 class="mt20"><b> Welcome to the shop</b></h1>
        </div>
    </div>

    <div class="container mt20 " style="display: flex;">
        <img src="../../assets/petslogo.jpg" alt="">
        
        <div class="container col-md-6">
            <mat-card>
                <mat-card-subtitle class="text-center">
                  <h1><b>Pet store</b></h1>
                    <p>
                        Want to adopt pets get into petstore. <br>
                        One of the best platform to adopt pets from the reliable store

                        An Online way to get the dogs!!!
                        Get a wuff friend!!!!
    
                    </p>
                </mat-card-subtitle>
            </mat-card>
        </div>
    </div>
    
</div>
