<mat-toolbar color="primary">

  <a [routerLink]="''" style="text-decoration: none; color: white;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>pets

      </mat-icon>
    </button>
    <span>Pet Store</span>
  </a>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon ml20 mr20 small-button "
    aria-label="Example icon-button with heart icon" [routerLink]="'/login'">
    Login
  </button>
  <button mat-icon-button class="example-icon ml20 mr30 small-button"  aria-label="Example icon-button with share icon"
    [routerLink]="'/signup'">
    Signup
  </button>
  <button mat-icon-button class="example-icon ml20 mr30 small-button"  aria-label="Example icon-button with share icon"
    [routerLink]="'/shop'">
    Shop
  </button>
  <button mat-icon-button class="example-icon ml20 mr30 small-button"  aria-label="Example icon-button with share icon"
    [routerLink]="'/cart'">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button class="example-icon ml20 mr30 small-button"  aria-label="Example icon-button with share icon"
    >
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>