<div class="bootstrap-wrapper">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="../../../../assets/dogslogoss.jpg" alt="Shop logo">
                <mat-card>
                    <mat-card-title >
                        <b>Login</b> 
                    </mat-card-title>
                    <div class="container text-center">

                        <form [formGroup]="loginSubmitform">

                            <p>
                                <mat-form-field class="full-width text-center mt20" appearance="outline">

                                    <mat-label>User name</mat-label>
                                    <input matInput placeholder="Enter your name" formControlName="name">

                                    <mat-hint>Name</mat-hint>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field class="full-width text-center " appearance="outline">
                                    <mat-label>Enter your password</mat-label>
                                    <input matInput placeholder="Enter your password" formControlName="password">
                                    <mat-hint>Password</mat-hint>

                                </mat-form-field>

                            </p>
                           
                            <div class="container mb20">
                                <button class="button" mat-raised-button color="primary" type="submit"  [routerLink]="''"> Login</button>
                            
                            </div>
                            


                        </form>
                       
                    </div>
                </mat-card>
                

            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>

        </div>

    </div>
</div>